# 6.1: Sourcing Open Data

### This script contains the following points:

* 1 - Importing Libraries
* 2 - Importing Data
* 3 - Data Wrangling
    * I) Changing Data Types
    * II) Check for Mixed Types
* 4 - Data Consistency
    * I) Check Numerical Variables
    * II) Looking for Missing Values (NaN)
    * III) Looking for Duplicates Records
* 5 - Exporting Data

---

## 1. Import Libraries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os
import datetime as dt

---

## 2. Importing Data

In [2]:
# Define path

path = r'/Users/juanigalvalisi/Desktop/Data Analyst/Achievement 6/'

In [3]:
# Import .CSV

df_medical_costs_raw = pd.read_csv(os.path.join(path, 'Medical Cost Personal Datasets.csv'))

In [4]:
# Check the output of df_medical_costs_raw

df_medical_costs_raw.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
# Check the output of df_medical_costs_raw

df_medical_costs_raw.shape

(1338, 7)

In [6]:
# Check the output of df_medical_costs_raw

df_medical_costs_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

---

## 3. Data Wrangling

### I) Changing Data Types

In [7]:
# Check all the data types of df_medical_costs_raw

df_medical_costs_raw.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

### II) Check for Mixed Types

In [8]:
# Check for mixed types

for col in df_medical_costs_raw.columns.tolist():
  weird = (df_medical_costs_raw[[col]].applymap(type) != df_medical_costs_raw[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_medical_costs_raw[weird]) > 0:
    print (col)

> #### There are no mixed-type columns.

---

## 04 - Data Consistency

### I) Check Numerical Variables

In [9]:
# Check df_medical_costs_raw numerical variables

df_medical_costs_raw.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

> #### The dataframe appears to be consistent.

### II) Looking for Missing Values (NaN)

In [10]:
# Look for missing values (NaN)

df_medical_costs_raw.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

> #### There are no missing values.

### III) Looking for Duplicates Records

In [11]:
# Look for duplicates

df_medical_costs_raw_dups = df_medical_costs_raw[df_medical_costs_raw.duplicated()]

In [12]:
# Check the output

df_medical_costs_raw_dups.head()

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [13]:
# Omit 1 duplicate record

df_medical_costs_clean = df_medical_costs_raw.drop_duplicates()

In [14]:
# Check the output I

df_medical_costs_clean.shape

(1337, 7)

In [15]:
# Check the output II

df_medical_costs_clean.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

> #### One duplicate record was omitted.

---

# 5 -  Exporting Data

In [16]:
# Export df_custs as .pkl

df_medical_costs_clean.to_pickle(os.path.join(path, 'Medical Cost Personal.pkl'))